/target
/upstream-agent
/upstream-service
/reference-rs
/config.yml
/tests/dashboard.db
/tests/dashboard-config.yaml
/tests/dashboard-tls-config.yaml
/tests/localhost.crt
/tests/localhost.key
/tests/localhost.csr
/tests/ca.crt
/tests/ca.key
/tests/ca.srl
/tests/nezha-dashboard
/tests/nezha-agent-go
/tests/monitor_baseline.exe
__pycache__/
